/* CSS Document */

#banner
{
width:100%;
height:400px;
margin:0 auto;
background:url(image/header-bg.jpg);
top:0;
}
.navbar
{
width:100%;
height:80px;
top:0;
}
.navlogo
{
margin-left:5px;
height:80px;
width:80px;
background:url(image/cityora-app-logo.jpg);
background-size:contain;
background-repeat:no-repeat;
}
.navlink
{
text-align:center;
height:70px;
width:550px;
margin-left:780px;
}
li
{
display:inline-block;
padding: 20px;
font-family: 'Oswald', sans-serif;
font-size:20px;
font-weight:500;
}
a:link {
    text-decoration: none;
	color:rgb(4, 147, 114);
	
}

a:visited {
    text-decoration: none;
	color:rgb(4, 147, 114);
}

a:hover {
    text-decoration: none;
	color:rgb(135, 211, 124);
}

a:active {
    text-decoration: none;
	color:rgb(4, 147, 114);
}
.over
{
position:absolute;
top:330px;
left:0;
height:100px;
width:100%;
}

.logo
{
position:absolute;
top:100px;
left:40%;
height:200px;
}
#download
{
margin:0 auto;
width:100%;
}
.googlebadge
{

margin-top:15px;
margin-left:500px;
height:60px;
width:150px;
}
.applebadge
{

margin-top:10px;
margin-left:5px;
height:60px;
width:150px;
}
.mission
{
width:95%;
margin:0 auto;
}
.missionwrapper
{
margin-top:20px;
height:305px;
width:350px;
display:inline-block;
}
.missionpic
{
height:200px;
width:300px;
margin:0 auto;
}
.missionheading
{
height:50px;
width:300px;
margin-top:5px;
font-family: 'Oswald', sans-serif;
font-size:26px;
margin-left:20px;
text-align:center;
text-shadow:2px 1px #BDC3C7;
}
.missionquote
{
height:150px;
width:350px;
text-align:center;
margin-top:10px;
font-family: 'Quicksand', sans-serif;

}
#rightwrapper
{
float:right;
}
#middlewrapper
{
margin-left:105px;
}
#missionpic1
{
background:url(image/food.jpg);
background-size:contain;
background-repeat:no-repeat;
background-position:center center;
}
#missionpic2
{
background:url(image/online-shopping.jpg);
background-size:contain;
background-repeat:no-repeat;
background-position:center center;
}
#missionpic3
{
background:url(image/event-listing.jpg);
background-size:contain;
background-repeat:no-repeat;
background-position:center center;
}
.heading
{
font-family: 'Oswald', sans-serif;
font-size:28px;
margin-top:30px;
margin-bottom:30px;
text-align:center;
text-shadow:2px 1px #BDC3C7;
}
#partnerwrapper
{
width:95%;
margin:0 auto;
background:rgb(54, 215, 183);
background:rgba(54, 215, 183, .2);
}
.partnerframe
{
height:80px;
width:90px;
display:inline-block;
margin-top:20px;
margin-left:40px;

}
.partnerlogo
{
height:50px;
width:90px;

}
.partnername
{
height:40px;
width:90px;
text-align:center;
font-family: 'Quicksand', sans-serif;
font-size:12px;
font-weight:500;
text-shadow:2px 1px #BDC3C7;
}
#bytheway
{
background-image:url(image/logo-1.png);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#bellini
{
background-image:url(image/16229747_1229867223749256_1782261462_o.png);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#chicago
{
background:url(image/14918944_660397577476357_8235667503740310071_.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#arabian
{
background:url(image/IMG-20170106-WA0004.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#phattown
{
background:url(image/11146190_958963800802719_7318287599417341192_n.png);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#motimahal
{
background:url(image/10426756_1533731566926967_3994325789380445604_n.png);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#nagameez
{
background:url(image/1545194_712802085451429_4078759748298212205_n.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#backbencher
{
background:url(image/14902912_197487970696852_4332679909835157452_o.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#zouq
{
background:url(image/zouq.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#shahidarbar
{
background:url(image/15622588_219807251810445_4541428908791954702_n.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#ziya
{
background:url(image/IMG-20170105-WA0001.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#kathijunction
{
background:url(image/12227751_131584987202527_1732023016794069899_n.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#chicknchilly
{
background:url(image/1375921_884648428322030_6462910872019509325_n.png);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#nirvana
{
background:url(image/rsz_nirvana_dp.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#august
{
background:url(image/IMG_20170214_0001.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#nfk
{
background:url(image/final.png);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#brewbakes
{
background:url(image/rsz_114708158_1591387954491282_6179602906652671118_n.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#bordoisila
{
background:url(image/1a9bc510-b700-4da0-aec1-ceed5cdf0a7e.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#redchilli
{
background:url(image/IMG-20170120-WA0002.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#yochina
{
background:url(image/rsz_logo.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#krazy
{
background:url(image/IMG-20170105-WA0000.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#biriyani
{
background:url(image/IMG-20170106-WA0003.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#pizzaz
{
background:url(image/rsz_1img-20170106-wa0011.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#bawarchi
{
background:url(image/rsz_1img-20170106-wa0005_copy.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#grill
{
background:url(image/rsz_469375_128536243946515_1029322976_o.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#mother
{
background:url(image/Capture.JPG);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#dh
{
background:url(image/rsz_img-20170118-wa0000_1.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}
#tribal
{
background:url(image/rsz_1tribal.jpg);
background-size: contain;
background-repeat:no-repeat;
background-position:center center;
}

.socialbar
{
width:40%;
margin:0 auto;

}
#fb
{
height:50px;
width:50px;
background:url(image/facebook-logo.png);
background-size:contain;
display:inline-block;
margin-left:100px;
}
#insta
{
height:50px;
width:50px;
background:url(image/instagram-social-network-logo-of-photo-camera.png);
background-size:contain;
display:inline-block;
margin-left:20px;
}
#twit
{
height:50px;
width:50px;
background:url(image/twitter-logo.png);
background-size:contain;
display:inline-block;
margin-left:20px;
}
#youtube
{
height:50px;
width:50px;
background:url(image/social.png);
background-size:contain;
display:inline-block;
margin-left:20px;
}
#pinterest
{
height:50px;
width:50px;
background:url(image/social-1.png);
background-size:contain;
display:inline-block;
margin-left:20px;
}
.copyright
{
margin-top:30px;
width:100%;
text-align:center;
font-family:'Quicksand', sans-serif;
}
@media only screen and (max-device-width: 480px) {
.navlink
{
margin-left:460px;
}
#download
{

}
.googlebadge
{

margin-top:15px;
margin-left:330px;
height:60px;
width:150px;
}
#middlewrapper
{
margin-left:30px;
}
.missionwrapper
{
width:280px;
}
.missionheading
{
width:260px;
}
.missionquote
{
width:260px;
}
.socialbar
{
width:50%;
}
#fb
{
margin-left:80px;
}
}


